@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
margin:0;
overflow-x:hidden;
background:#07111D;
font-family:"Manrope",sans-serif;
}

.heading-font{
font-family:"Cormorant Garamond",serif;
}

.gold-gradient{

background:linear-gradient(135deg,#F6C445,#D49A00);

}

.text-gradient{

background:linear-gradient(90deg,#FFD86B,#E7A700);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.glass{

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.12);

box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.hero-shadow{

text-shadow:0 10px 30px rgba(0,0,0,.5);

}
.shine-btn{

position:relative;

overflow:hidden;

}

.shine-btn::before{

content:"";

position:absolute;

top:0;

left:-120%;

width:70%;

height:100%;

background:linear-gradient(

90deg,

transparent,

rgba(255,255,255,.5),

transparent

);

transform:skewX(-20deg);

transition:.8s;

}

.shine-btn:hover::before{

left:160%;

}